{% extends './layout/base.njk' %}
{% block title %}
    <title>资源错误</title>
    <link rel="stylesheet" href="./css/style.css">
{% endblock %}
{% block body %}
    <div class="head">
        资源错误
    </div>
{% endblock %}
{% block script %}
 <script type="text/javascript">
    var app = new Vue({
        el: "#app",
        data: {}
    });
    </script>
{% endblock %}